{{! 
Це код container файлу для сторінки bio, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bio"
}}

<section>
  <div>
    <h1>{{name}}</h1>
  </div>

  <div>
    <b>Born</b>
    -
    <i>{{birthdate}}</i>,
    <br />
    <i>{{birthplace}}</i>

    <br />
    <br />
    <b>Died</b>
    -
    <i>{{deathdate}}</i>,
    <br />
    <i>{{deathplace}}</i>
  </div>
  <br />

  <div>
    <b>Nationality - </b>
    {{nationality}}
  </div>
</section>
<hr />

<section>
  <div>
    <b>Occupation - </b>
    {{occupation}}
  </div>
  <br />

  <div>
    <h3>Education</h3>
    {{#each education}}
      {{institution}},
      {{year}}
      <br />
      {{degree}}
      in
      {{field}},
    {{/each}}
  </div>
  <br />

  <div>
    <h3>Known for</h3>
    <ul>
      {{#each known_for}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div>
    <h3>Notable publications</h3>
    <ul>
      {{#each notable_publications}}
        <li>
          {{title}},
          {{year}}
          <br />
          {{publisher}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>Spouses</h3>
    <ul>
      {{#each partners}}
        <li>
          {{years}}
          <br />
          {{name}},
          <br />
          {{relationship}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>Awards</h3>
    {{#each awards}}
      {{title}},
      {{year}}
      <br />
      {{description}}
    {{/each}}
  </div>
  <br />

  <div>
    <h3>Influenced by</h3>
    <ul>
      {{#each influences}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h3>Influenced</h3>
    <ul>
      {{#each influenced}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h3>Quotes</h3>
    <ul>
      {{#each quotes}}
        <q><li>{{this}}</li></q>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h3>Major discoveries</h3>
    {{#each major_discoveries}}
      {{title}},
      {{year}}
      <br />
      {{description}}
    {{/each}}
  </div>
  <br />

  <div>
    <h3>Contributions</h3>
    {{#with contributions}}
      {{title}},
      {{year}}
      <br />
      {{description}}
      <br />
      {{field}}
    {{/with}}
  </div>
  <br />
</section>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}