{{! 
Це код container файлу для сторінки bio, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bio"
}}

<section class='mx-5 my-4'>
  <div>
    <h1>{{name}}</h1>
  </div>

  <div>
    <b class='text-capitalize'>born</b>
    -
    <i>{{birthdate}}</i>,
    <br />
    <i>{{birthplace}}</i>

    <br />
    <br />
    <b class='text-capitalize'>died</b>
    -
    <i>{{deathdate}}</i>,
    <br />
    <i>{{deathplace}}</i>
  </div>
  <br />

  <div>
    <b class='text-capitalize'>citizenship - </b>
    {{nationality}}
  </div>
</section>
<hr />

<section class='mx-5 my-3'>
  <div>
    <h4>Occupation</h4>
    {{occupation}}
  </div>
  <br />

  <div>
    <h4>Education</h4>
    {{#each education}}
      {{institution}},
      {{year}}
      <br />
      {{degree}}
      in
      {{field}},
    {{/each}}
  </div>
  <br />

  <div>
    <h4>Known for</h4>
    <ul>
      {{#each known_for}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div>
    <h4>Notable publications</h4>
    <ul>
      {{#each notable_publications}}
        <li>
          {{title}},
          {{year}}
          <br />
          {{publisher}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section class='mx-5'>
  <div>
    <h4>Spouses</h4>
    <ul>
      {{#each partners}}
        <li>
          {{years}}
          <br />
          {{name}},
          <br />
          {{relationship}}
        </li>
        <br />
      {{/each}}
    </ul>
  </div>
</section>

<section class='mx-5'>
  <div>
    <h4>Awards</h4>
    {{#each awards}}
      {{title}},
      {{year}}
      <br />
      {{description}}
    {{/each}}
  </div>
  <br />

  <div>
    <h4>Influenced by</h4>
    <ul>
      {{#each influences}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h4>Influenced</h4>
    <ul>
      {{#each influenced}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h4>Quotes</h4>
    <ul>
      {{#each quotes}}
        <q><li>{{this}}</li></q>
      {{/each}}
    </ul>
  </div>
  <br />

  <div>
    <h4>Major discoveries</h4>
    {{#each major_discoveries}}
      {{title}},
      {{year}}
      <br />
      {{description}}
    {{/each}}
  </div>
  <br />

  <div>
    <h4>Contributions</h4>
    {{#with contributions}}
      {{title}},
      {{year}}
      <br />
      {{description}}
      <br />
      {{field}}
    {{/with}}
  </div>
  <br />
</section>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}