{{! 
Це код container файлу для сторінки bio, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bio"
}}
<div class='m-5'>
  <h1>{{name}}</h1>

  <h2>
    {{description}},
    <br />
    $
    {{price}},
    <br />
    {{category}}
  </h2>

</div>
<hr class='m-5' />

<div class='m-5'>
  <h2>Features</h2>

  {{#with features}}
    <b class='text-uppercase'>processor:</b>
    <ul class='mb-4'>
      {{#with processor}}
        <li>
          <b>Brand:</b>
          {{brand}}
        </li>
        <li>
          <b>Model:</b>
          {{model}}
        </li>
        <li>
          <b>Speed:</b>
          {{speed}}
        </li>
        <li>
          <b>Cores:</b>
          {{cores}}
        </li>
        <li>
          <b>Cache:</b>
          {{cache}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase'>memory:</b>
    <ul class='mb-4'>
      {{#with memory}}
        <li>
          <b>Type:</b>
          {{type}}
        </li>
        <li>
          <b>Size:</b>
          {{size}}
        </li>
        <li>
          <b>Speed:</b>
          {{speed}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase'>storage:</b>
    <ul class='mb-4'>
      {{#with storage}}
        <li>
          <b>Type:</b>
          {{type}}
        </li>
        <li>
          <b>Size:</b>
          {{size}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase'>display:</b>
    <ul class='mb-4'>
      {{#with display}}
        <li>
          <b>Size:</b>
          {{size}}
        </li>
        <li>
          <b>Resolution:</b>
          {{resolution}}
        </li>
        <li>
          <b>Technology:</b>
          {{technology}}
        </li>
        <li>
          <b>Color space:</b>
          {{color_space}}
        </li>
        <li>
          <b>Brightness:</b>
          {{brightness}}
        </li>
        <li>
          <b>Refresh rate:</b>
          {{refresh_rate}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase'>graphics:</b>
    <ul class='mb-4'>
      {{#with graphics}}
        <li>
          <b>Brand:</b>
          {{brand}}
        </li>
        <li>
          <b>Model:</b>
          {{model}}
        </li>
        <li>
          <b>Memory:</b>
          {{memory}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase'>ports:</b>
    <ul class='mb-4'>
      {{#each ports}}
        <li>
          <b>Type:</b>
          {{type}}
        </li>
        <li>
          <b>Count:</b>
          {{count}}
        </li>
        <li>
          <b>Features:</b>
          <ul>
            {{#each features}}
              <li>
                {{this}}
              </li>
            {{/each}}
          </ul>
          <br />
        </li>
      {{/each}}
    </ul>

    <b class='text-uppercase'>battery:</b>
    <ul class='mb-4'>
      {{#with battery}}
        <li>
          <b>Type:</b>
          {{type}}
        </li>
        <li>
          <b>Capacity:</b>
          {{capacity}}
        </li>
        <li>
          <b>Life:</b>
          {{life}}
        </li>
      {{/with}}
    </ul>

    <b class='text-uppercase mb-4'>weight:</b>
    {{weight}}
    <br />
    <br />

    <b class='text-uppercase'>dimensions:</b>
    <ul class='mb-4'>
      {{#with dimensions}}
        <li>
          <b>height:</b>
          {{height}}
        </li>
        <li>
          <b>width:</b>
          {{width}}
        </li>
        <li>
          <b>depth:</b>
          {{depth}}
        </li>
      {{/with}}
    </ul>
    <br />

    <b class='text-uppercase'>operating system:</b>
    {{operating_system}}
    <br />
    <br />

    <b class='text-uppercase'>accessories:</b>
    <ul>
      {{#each accessories}}
        <li>
          {{name}}
        </li>
        <li class='mb-3'>
          ${{price}}
        </li>
      {{/each}}
    </ul>

  {{/with}}

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}