<main>
  <section class='nav'>
    {{#with navigation}}
      <div class='nav-item'>
        {{#each links}}
          <a
            class='{{#if @last}}disabled{{/if}} btn btn-link'
            href='{{href}}'
          >{{text}}</a>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <hr class="mb-5">

  <section>
    {{#with header}}
      <h1>{{title}}</h1>

      {{#with button}}
        <a class="btn btn-outline-secondary my-3" href="{{link}}">{{text}}</a>
      {{/with}}
    {{/with}}
  </section>
  <hr class="mb-5">

  <section>
    <div class="row">
      {{#each goodsBlock}}
        <div class="card my-2 p-2">
          <div class="card-body col-12">
            <div class="row">
              
              <div class="col-2">
                <img src="{{image}}" alt="{{name}}">
              </div>
              
              <div class="col-4">
                <h4 class="card-title">{{name}}</h4>
                <p>{{description}}</p>
              </div>

              <div class="col-2">
                {{#with price}}
                  {{title}}
                  <br>
                  {{value}}
                {{/with}}
              </div>

              <div class="col-2 mb-3">
                {{amount}}
              </div>

              <div class="col-2">
                {{#each buttons}}
                  <button class="
                  {{#if isPrimary}}
                  btn btn-primary
                  {{/if}}
                  {{#if isDanger}}
                  btn btn-outline-danger
                  {{/if}}
                  ">
                    {{text}}
                  </button>
                  <br>
                  <br>
                {{/each}}
              </div>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
  <hr class="mb-5">
  
  <section>
    {{#with total}}
      <h4>{{title}}</h4>
      <h2>{{amount}}</h2>
      <p>{{delivery}}</p>

      {{#each buttons}}
        <div class="my-2">
          <a class="
          {{#if isSuccess}}
            btn btn-success
          {{/if}}
          {{#if isOutline}}
            btn btn-outline-success
          {{/if}}
          "
          href="{{link}}">{{text}}</a>
        </div>
      {{/each}}

    {{/with}}
  </section>
  <hr class="mb-5">
  
  <section>
    <div>
      {{#with goodsOtherBlock}}
        <h3 class="text-center">{{title}}</h3>
      
      <div class="col-12">
        <div class="row">
          {{#each cards}}
            <div class="card col-4 gx-2">
              <div class="card-body">
                <img class="card-img-top" src="{{image}}" alt="{{title}}">

                <h6 class="card-title ">
                  {{title}}
                  {{#if isHot}}
                    <span class="badge text-bg-warning text-uppercase rounded-pill">hot</span>
                  {{/if}}
                  {{#if idNew}}
                    <span class="badge text-bg-primary text-capitalize rounded-pill">нове</span>
                  {{/if}}
                </h6>

                <p>{{description}}</p>
              
              </div>
              
            </div>
          {{/each}}
        </div>
      </div>
      
      {{/with}}
    </div>

  </section>
  <hr class="mb-5">

  <section>
    <div class="card bg-dark">
      {{#with subscribe}}
        <div class="card-body">
          <h2 class="text-light">{{header}}</h2>
          <p class="text-light">{{description}}</p>

          {{#each buttons}}
            <a class="btn btn-primary my-2" href="link">{{text}}</a>
            <br>
          {{/each}}
        </div>
      {{/with}}
    </div>
  </section>
  <hr class="mb-5">

  <section class="col-12">
    <div class="row">
      {{#each footer}}
        <div class="col-2 nav">
          {{#each this}}
            <a class="nav-link btn btn-link {{#if @last}}disabled{{/if}}" href="{{link}}">{{text}}</a>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </section>

</main>