<a href='{{href}}' {{#if blank}}target='_blank'{{/if}}>{{text}}</a>


{{#unless noLine}}
    {{#if line}}
        ---
    {{else}}
        /
    {{/if}}
{{/unless}}








{{!-- 
{{#with data}}
    <a href={{href}}>{{text}}</a> /
{{/with}} --}}